<div class="subtasks">
  <!-- <label class="subtasks__label">Subtasks</label> -->

  <div class="subtasks__input-row">
    <div class="form-cell form-cell--subtask form-cell--task">

    <input type="text" class="subtasks__input" placeholder="Add new subtask" [value]="newSubtaskTitle()"
      (input)="onInputChange($any($event.target).value)" (keydown.enter)="$event.preventDefault(); addSubtask()" />
    @if (newSubtaskTitle()) {
    
    <button type="button" class="subtasks-icon subtasks-icon--clear" (click)="clearInput()">
      <!-- icon: general/close.svg + close-hover.svg -->
      <img [src]="isClearHover()
    ? '/assets/img/components/task/task-close-hover.svg'
    : '/assets/img/components/task/task-close.svg'">

    </button>
      <div class="subtask-stroke"></div>

    <button type="button" class="subtasks-icon subtasks-icon--add" (click)="addSubtask()">
      <img [src]="isClearHover()
    ? '/assets/img/components/task/task-check-hover.svg'
    : '/assets/img/components/task/task-check.svg'">
    </button>


    }
  </div>
  </div>

  <ul class="subtasks__list">
    @for (subtask of subtasks(); track $index) {
         
    <li class="subtasks__item">
      @if (editingIndex() === $index) {
         
      <div class="form-cell-small">
      <input type="text" class="subtasks__edit-input" [value]="editingTitle()"
        (input)="onEditInputChange($any($event.target).value)"
        (keydown.enter)="$event.preventDefault(); saveEdit($index)" />
        <!-- Schritt zwei-->
         <div class="subtasks__actions subtasks__actions--visible">
      <button type="button" class="subtasks-icon subtasks-icon--delete" (click)="deleteSubtask($index)">
                  <img [src]="isClearHover()
    ? '/assets/img/components/task/task-delete-hover.svg'
    : '/assets/img/components/task/task-delete.svg'">
      </button>
       <div class="subtasks__divider"></div>
      <button type="button" class="subtasks-icon subtasks-icon--confirm" (click)="saveEdit($index)">
               <img [src]="isClearHover()
    ? '/assets/img/components/task/task-check-hover.svg'
    : '/assets/img/components/task/task-check.svg'">
      </button>
      </div>
      </div>
      } @else {
      
      <span class="subtasks__item-title" (dblclick)="startEdit($index)">
        {{ subtask.title }}
      </span>
          <div class="subtasks__actions">
      <button type="button" class="subtasks-icon subtasks-icon--edit" (click)="startEdit($index)">
        <img [src]="isClearHover()
    ? '/assets/img/components/task/task-edit-hover.svg'
    : '/assets/img/components/task/task-edit.svg'">
      </button>
       <div class="subtasks__divider"></div>
      <button type="button" class="subtasks-icon subtasks-icon--delete" (click)="deleteSubtask($index)">
              <img [src]="isClearHover()
    ? '/assets/img/components/task/task-delete-hover.svg'
    : '/assets/img/components/task/task-delete.svg'">
      </button>
      </div>
      }
    </li>
    }
  </ul>
</div>