@use '../abstract/' as *;

.contact-details__avatar {
  width: 120px;
  height: 120px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
  @include flex-center;
  flex-shrink: 0;
  font-size: 47px;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;

  @media (max-width: 1258px) and (min-width: 881px) {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
}
