@use '../abstract/' as *;

dialog::backdrop {
    background: rgba(0, 0, 0, 0.1);
}

.user-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    display: grid;
    width: 1212px;
    height: 592px;
    background: $white;
    border: none;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    animation: dialogIn .3s ease;

    &--task {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
        height: calc(100% - 160px);

    }

    @include mobile-tablet {
        animation: dialogInMobile 250ms ease-out forwards;
    }

    @include mobile {
        width: 100dvw;
        height: calc(100dvh - 160px);
        margin: 0 8px;
    }

    @include small-mobile {
        width: 100dvw;
        height: calc(100dvh - 160px);
        margin: 0 8px;
    }

    @include tablet {
        width: 100dvw;
        height: calc(100dvh - 160px);
        margin: 0 8px;
    }


}

.user-dialog.closing {

    animation: dialogOut .3s ease forwards;

    @include mobile-tablet {
        animation: dialogOutMobile 250ms ease-out forwards;
    }


}

@keyframes dialogIn {

    from {
        transform: translate(calc(-50% + 100vw), -50%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

}

@keyframes dialogOut {

    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: translate(calc(-50% + 100vw), -50%);
        opacity: 0;
    }

}

@keyframes dialogInMobile {
    from {
        transform: translate(-50%, calc(-50% + 100vh));
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes dialogOutMobile {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: translate(-50%, calc(-50% + 100vh));
        opacity: 0;
    }
}

.dialog-content {
    width: 100%;

    &--task {
        padding: 64px 74px;
    }
}

.dialog-wrapper-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;


    @include mobile-tablet {
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: stretch;
    }

    @include small-mobile {
        display: grid;
        grid-template-rows: auto 1fr;
        justify-content: stretch;
    }

    @include landscape {
        overflow-y: auto;
        min-height: 0;
        align-items: flex-start;
        padding: 20px 0 20px 0;
        margin-top: 30px;
        max-height: calc(100dvh - 100px);
        margin-right: 20px;
    }
}

.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.flex-dialog-close {
    display: flex;
    justify-content: flex-end;

    @include mobile-tablet {
        padding-bottom: 20px;
    }

    @include small-mobile {
        padding-bottom: 10px;

    }

    @include landscape {
        position: fixed;
        top: 0;
        right: 20px;
    }
}

.dialog-user-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;

    &--task {
        top: 64px;
        right: 60px;
    }
}

.dialog-close-btn {
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: url('/assets/img/components/general/close.svg') center no-repeat;
    border: 0;

    @include mobile-tablet {
        width: 32px;
        height: 32px;
        background: url('/assets/img/components/general/dialog-close-mobil.svg') center no-repeat;
        position: relative;
        z-index: 9999;
        pointer-events: auto;
    }
}

.dialog-close-btn:hover {
    background: url('/assets/img/components/general/close-hover.svg') center no-repeat;
}

.dialog-left {
    background-color: $blue-color;
    height: 100%;
    width: 453px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &--task {
        background-color: $white;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    @include mobile-tablet {
        padding: 16px;
        width: 100%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        align-items: flex-start;
        height: 351px;
        position: relative;

    }

    @include small-mobile {
        height: 180px;
    }

    @include desktop-md {
        padding-right: 0px;
    }

}

.dialog-right {

    display: flex;

    &--task {
        display: block;
    }


    @include mobile-tablet {
        // flex: 1;
        width: 100%;
    }

    @include desktop-s {
        align-items: center;
        justify-content: center;
        width: 55%;
    }
}


.dialog-right-inner-right {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    height: 100%;
    padding: 32px;

    @include mobile {
        padding: 32px 8px 32px 8px;
    }

    @include tablet {
        padding: 50px 8px 32px 8px;
    }
}

.right-user-form {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 48px;
    align-items: center;
    height: 100%;
    width: 100%;

    @include mobile-tablet {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }

    @include desktop-s {
        display: flex;
        flex-direction: column;
    }
}


.dialog-logo {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;

    @include mobile-tablet {
        display: none;
    }
}

.dialog-logo-img {
    height: 67px;
    width: auto;
    ;
}

.dialog-headline {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 61px;
    color: $white;

    &--task {
        color: $black;
    }

    @include mobile-tablet {
        font-size: 47px;
    }

    @include small-mobile {
        font-size: 36px;
    }
}

.dialog-subline {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: $white;
    font-size: 27px;

    @include mobile-tablet {
        font-size: 20px;
    }

    @include small-mobile {
        font-size: 16px;
    }
}

.dialog-headline-stroke {
    padding-top: 16px;
    border-bottom: 3px solid $ligth-blue-color;
    width: 90px;
}

.dialog-form {
    justify-self: end;
    width: 100%;

    &--task {
        display: flex;
        justify-self: unset;
        justify-content: space-between;
    }

    @include mobile-tablet {
        justify-self: unset;
    }

    @include small-mobile {
        padding-top: 10px;
    }

}

.dialog-user-close {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}


.dialog-user-logo {
    display: flex;
    align-items: center;

    @include mobile-tablet {
        position: absolute;
        top: 350px;
        left: 50%;

        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    @include small-mobile {
        position: absolute;
        top: 180px;
        left: 50%;

    }
}

.dialog-user-logo .contact-details__avatar {
    @include small-mobile {
        width: 80px;
        height: 80px;
        font-size: 36px;

    }
}

.dialog-user-logo img {
    width: 120px;
    height: auto;

    @include small-mobile {
        width: 80px;

    }
}

.form-cell {
    padding-bottom: 12px;
    width: 100%;

    @include small-mobile {
        padding-bottom: 8px;
    }
}

.form-cell input {
    width: 422px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid $grey-form-color;
    padding: 13px 40px 13px 21px;

    &:focus {
        border-color: $grey-form-blue;
        outline: none;
    }

    @include mobile-tablet {
        width: 100%;
        height: 41px;

    }

    @include desktop-s {
        width: 100%;
    }

    @include small-mobile {
        height: 36px;

    }
}

.form-cell input::placeholder {
    color: $grey-form-color;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
    border-color: $red-form-color;
}

.input-name {
    width: 24px;
    height: 24px;
    background: url('/assets/img/forms/person.svg') 95% no-repeat;
    object-fit: contain;
    padding-right: 21px;
}

.input-mail {
    width: 24px;
    height: 24px;
    background: url('/assets/img/forms/mail.svg') 95% no-repeat;
    object-fit: contain;
    padding-right: 21px;
}

.input-phone {
    width: 24px;
    height: 24px;
    background: url('/assets/img/forms/call.svg') 95% no-repeat;
    object-fit: contain;
    padding-right: 21px;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;

    @include mobile {
        padding-top: 0px;
        justify-content: center;

    }
}

.form-error-placeholder {
    height: 20px;
    display: flex;
}

.form-error {
    color: $red-form-color;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    padding-top: 5px;

    @include mobile {
        font-size: 16px;
    }

    @include small-mobile {
        font-size: 14px;
    }

    &__policy {
        color: $red-form-color;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
    }
}

.form-message {
    margin-top: 26px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Inter', sans-serif;

    &.error {
        color: #e74c3c;
    }
}