@use '../abstract/' as *;

.header-headline {
    font-size: 20px;
    line-height: 120%;
    @include page-padding;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;

    @include mobile {
        height: 80px;
    }
}

.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.help {
    cursor: pointer;
}

.img-help {
    display: block;
    width: 32px;
    height: 32px;
    background: url('/assets/img/navigation/help.svg') center no-repeat;
    object-fit: contain;
}

.img-help:hover {
    background: url('/assets/img/navigation/help-hover.svg') center no-repeat;
    object-fit: contain;
}

.dummy-bubble {
    height: 56px;
    width: 56px;
    border: 2px solid $blue-color;
    border-radius: 50px;
    anchor-name: --user-menu-anchor;

    @include mobile {
        height: 40px;
        width: 40px;
    }
}

.top-menu-right {
    padding-right: 16px;
    position: relative;
}

.user-menu-button {
    cursor: pointer;
}

.top-menu-right button {
    background: transparent;
    border: 0;
}

.user-menu {
    position: absolute;

    @supports(anchor-name: --user-menu-anchor) {
        position-anchor: --user-menu-anchor;

        top: anchor(bottom);
        right: anchor(right);

        translate: 0px 26px;
    }

    @supports not (anchor-name: --user-menu-anchor) {
        top: calc(100% + 12px);
        right: 0;
    }

    width: 150px;
    background: $blue-color;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    padding: 14px 0;
}

.user-menu a {
    padding: 14px 16px;
    text-decoration: none;
    color: $light-grey-color;
    margin: 0 8px;

    &:hover {
        background: $blue-usermenu-hover-color;

    }
}

.mobil-header-logo {
    width: 32px;
    height: 39px;
    background: url('/assets/img/logo/logo-join-mobil.svg') center no-repeat;
    object-fit: contain;
    display: none;
    margin-left: 16px;
}

@include mobile-tablet {

    .show-mobil {
        display: block;
    }

    .hide-mobil {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .header-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    background-color: white;
    }
}