<dialog #dialog class="user-dialog user-dialog--task" closedby="any" (cancel)="onCancel($event)"
    (animationend)="animationFinished($event)">
    <div class="dialog-content dialog-content--task">
        <div class="dialog-top">
            <h2 class="dialog-headline dialog-headline--task">
                Add Task
            </h2>
            <div class="dialog-user-close dialog-user-close--task">
                <button type="button" class="dialog-close-btn" (click)="closeDialog()">
                </button>
            </div>
        </div>
        <div class="dialog-wrapper-inner">

            <div class="dialog-form dialog-form--task">
                <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">

                    <div class="dialog-left dialog-left--task">
                        <div class="form-cell">
                            <div class="form-cell-label">
                                <label for="message">Title<span>*</span></label>
                            </div>
                            <div>
                                <input id="input-task-title" class="input-title" type="text" name="title"
                                    formControlName="name" placeholder="Enter a title" />
                            </div>
                            <div class="form-error-placeholder">
                                <!-- @if (titel.touched) {

                                        @if (name.hasError('required')) {
                                        <p class="form-error">This field is required.</p>

                                        } @else if (name.hasError('fullName')) {
                                        <p class="form-error">Enter first and last name.</p>

                                        } @else if (name.hasError('nameTooShort')) {
                                        <p class="form-error">
                                            First and last name must each contain at least 3 characters.
                                        </p>
                                        }
                                        @else if (name.hasError('nameExists')) {
                                        <p class="form-error">
                                            Contact already exists.
                                        </p>
                                        }
                                        @else if (name.hasError('pattern')){
                                        <p class="form-error">
                                            The name must not contain numbers.
                                        </p>
                                        }
                                        } -->
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="form-cell-label">
                                <label for="message">Description</label>
                            </div>
                            <div>
                                <textarea id="input-task-description" class="input-description" type="text"
                                    name="description" formControlName="email" placeholder="Enter a description"
                                    rows="4"></textarea>
                            </div>
                            <div class="form-error-placeholder">
                                <!-- @if (email.touched) {
                                        @if ( email.hasError('required')) {
                                        <p class="form-error">
                                            Your email is required.
                                        </p>
                                        }
                                        @else if ( email.hasError('email')) {
                                        <p class="form-error">
                                            Wrong email address.
                                        </p>
                                        }
                                        } -->
                            </div>
                        </div>

                    </div>
                    <div class="dialog-task-stroke"></div>
                    <div class="dialog-right dialog-right--task">


                        <!-- <div class="dialog-user-logo">
                            @if (isEditMode()) {
                            @if (selectedContact(); as contact) {
                            <div class="contact-details__avatar" [style.background-color]="contact.colors">
                                {{ contact.initials }}
                            </div>
                            }
                            } @else {
                            <img src="/assets/img/forms/empty-user.svg" alt="User">
                            }

                        </div> -->



                        <div class="form-cell">
                            <div>
                                <input id="phone" class="input-phone" name="phone" type="text" formControlName="phone"
                                    placeholder="Phone" />
                            </div>
                            <div class="form-error-placeholder">
                                <!-- @if (phone.touched) {
                                        @if (phone.hasError('required')) {
                                        <p class="form-error">
                                            Your phone number is required.
                                        </p>
                                        }
                                        @else if (phone.hasError('pattern')){
                                        <p class="form-error">
                                            The phone number can only contain numbers.
                                        </p>
                                        }

                                        } -->
                            </div>
                        </div>
                    </div>
                    <div class="dialog-footer">
                        <div class="dialog-footer-left">
                            <div class="dialog-footer-required">
                                <span>*</span>This field is required
                            </div>
                        </div>
                        <div class="form-buttons">
                            @if (isEditMode()) {
                            <button class="btn-primary btn-primary--border" type="button"
                                (click)="onRemoveSelectedContact()">
                                Delete
                            </button>
                            } @else {
                            <button class="btn-primary btn-primary--border btn-primary--hide" type="button"
                                (click)="closeDialog()">
                                Cancel
                            </button>
                            }

                            <button class="btn-primary btn-primary--create btn-primary--mobil" type="submit"
                                [disabled]="addTaskForm.invalid">
                                @if (isEditMode()) {
                                Save
                                } @else {
                                Create Task
                                }
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</dialog>