$blue-color: rgba(42, 54, 71, 1) !default;
$ligth-blue-color: rgba(41, 171, 226, 1);
$dark-blue-color: rgba(9, 25, 49, 1);
$blue-font-color: rgba(0, 124, 238, 1);
$blue-card-color: rgba(0, 56, 255, 1);
$blue-card-stroke-color: rgba(69, 137, 255, 1);
$turquoise-card-color: rgba(31, 215, 193, 1); 
$red-form-color: rgba(230, 0, 38, 1);
$red-color: rgba(255, 61, 0, 1);
$orange-color: rgba(255, 168, 0, 1);
$green-color: rgba(122, 226, 41, 1);
$light-grey-color: rgba(205, 205, 205, 1);
$dark-grey-color: rgba(168, 168, 168, 1);
$grey-form-color: rgba(209, 209, 209, 1);
$grey-form-blue: rgba(18, 70, 88, 1);
$grey-form-border-color: rgba(107, 107, 107, 0.7137);
$blue-usermenu-hover-color: rgba(42, 61, 89, 1);
$white: rgba(255, 255, 255, 1);
$header-avatar: rgba(18, 70, 88, 1);
$light-blue-button: rgba(18, 70, 88, 1);
