$primary-color: rgba(255, 255, 255, 1) !default;
$secondary-color: rgba(255, 255, 255, 1);
$tertiary-color: rgba(255, 255, 255, 1);
$primary-bg-color: rgba(255, 255, 255, 1);
$secondary-bg-color: rgba(255, 255, 255, 1);
